<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registrar Office - Nooraniya M.M.V.</title>

  <link href='//fonts.googleapis.com/css?family=Roboto+Slab:400,700,300' rel='stylesheet' type='text/css'>
  <link href="//cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css">
  <link href='//fonts.googleapis.com/css?family=Comfortaa:400,700,300' rel='stylesheet' type='text/css'>
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css'>
  <link rel="stylesheet" type='text/css' href="theme/styles.css">
</head>

<body>
<header id="header">
  <nav class="nav">
    <ul class="global-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li id="search-button" class="ion-search"><a>Search</a></li>
    </ul </nav>
</header>

<!-- Overlay (Litebox) //-->
<div class="litebox">
  <div class="litebox__close-btn">╳</div>
  <div id="id-pages"></div>
  <div class="search-wrapper">
    <input type="text" class="search" placeholder="search ..."/>
  </div>

  <div id="results-wrapper"></div>
</div>

<div class="blog-title">
  <h2>Alumni Portal</h2>
</div>

<div class="wrapper">

  <main class="main markdown-body">{{postContent}}</main>

  <aside class="aside">
    <h2>Year</h2>
    <div class="blog-container">{{navigation}}</div>
  </aside>
</div><!--end wrapper-->

<footer>
  <div id="credits">
    <p>Copyright © 2018 Nooraniya M.M.V., All rights reserved.<p></div>
</footer>

<script src='/theme/jquery3.3.1.js'></script>
<script src='/theme/accordion.js'></script>
</body>
</html>
